<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
    
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="main">
      <div id="left">
        <button>
          <i class="ri-home-fill"></i>
          <p>Home</p>
        </button>
        <a href="/search">
          <i class="ri-search-line"></i>
          <p>search</p>
        </a >
      </div>
      <div id="right">
        <div id="card">
          <% currentUser.playlist[0].songs.forEach(song=>{ %>
          <div class="song" onclick="songcardclick(`<%= song.fileName %>`)">
            <img
              src='/poster/<%= song.poster%>'
              alt=""
            />
            <div class="text">
              <h5><%= song.title %></h5>
              <p><%= song.artist %></p>
              <p><%= song.album %></p>
            </div>
            <div class="playbtn">
              <i class="ri-play-circle-fill"></i>
            </div>
          </div>
          <% }) %>
        </div>
        <audio src="/stream" controls></audio>
      </div>
    </div>

    <script>
      function songcardclick(fileName){
       document.querySelector('audio').setAttribute('src',`/stream/${fileName}`)
       document.querySelector('audio').play
      }
    </script>
  </body>
</html>
